<div class="about" style="margin-top: 100px; margin-left: 50px;">
	<h1>welcome to <span class="glyphicon glyphicon-book"></span>Bookers!!</h1>
	<header class="col-xs-3 col-xs-offset-9">
		<p>Copyright Inflatop.inc</p>
	</header>
</div>